body{
    margin:0 auto;

}
#cd #left #right{
    margin:0;
    padding:0;

}
#cd{
    width:800px;
    height:400px;
    margin:0 auto;
    border:1px solid red;
    /*background-image: url("../img/b1.jpg");*/
}
#left{
    width:30px;
    height:65px;
    line-height: 65px;
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: -200px;
    z-index:2;
    float: left;
    background-color: #9b9b9b;
    text-align: center;
}
#right{
    width:30px;
    height:65px;
    line-height: 65px;
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 2;
    margin-top: -80px;
    float: right;
    background-color: #9b9b9b;
    text-align: center;
}
#bar{

}
#bar ul{
    margin-top: 340px;
    margin-left: 260px;;
}
#bar ul li{
    float: left;
    list-style-type: none;
    width:30px;
    height:30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffbe00;
    border-radius: 20px;
    background-color: #353535;
    margin-left: 10px;
    cursor: pointer;
}
#imgs{
    float: left;
    display: inline-block;
    z-index: -1;
}